#Rename this file to .env
CLIENT_ID=                  #Your Discord OAuth2 ID
CLIENT_REDIRECT_URI=                        #Your Discord OAuth2 Redirect URL
CLIENT_SECRET=                      #Your Discord OAuth2 Client Secret
DB_URI=                        #Your MongoDB Connection URI
PORT=                       #Port for the dlient to start on
SERVER_IP=                      #IP on which servers are to be created
SERVER_PASS=                       #Pass to ssh on the server (ROOT user required)
SERVER_LXC_PORT=                        #Port for LXD API
SERVER_SSH_PORT=                        #Port for SSH
SERVER_USER=root                     #Leave unchanged unless you know what this is
DB_NAME=                        #Name of the Database
DB_COLL=                        #Collection to store user information