<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="assets/server.png">
<style>
html, body {
    background: linear-gradient(90deg, rgba(27,27,47,1) 35%, rgba(60,59,63,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
#footer {
    position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
</style>
    <title>Unknown VPS &bullet; Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <script src="assets/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="assets/tailwind.min.css">
    <script defer src="assets/cdn.min.js"></script> 
</head>
    <body>
        <%- include('./components/nav') %>
        <div class="mx-auto grid grid-cols-1 justify-center items-center">
            <script class="mx-auto" type="text/javascript">
                atOptions = {
                    'key' : '2571d8a05c117a0685467f92b3ed208f',
                    'format' : 'iframe',
                    'height' : 90,
                    'width' : 728,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/2571d8a05c117a0685467f92b3ed208f/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
         <div class="container p-5 text-center">
          <h3 class="text-2xl" style="color: azure">Welcome <%= user.username %>!</h3>
          <span class="text-xl" style="color: azure">What would you like to do today?</span> 
        </div>
        <div>
            <%- include('./components/slots') %>
        </div>
        <div class="flex flex-direction grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-4 xl:p-0 gap-4 xl:gap-6">
            <div>
            <script type="text/javascript">
                atOptions = {
                    'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
            <div>
            <script type="text/javascript">
                            atOptions = {
                                'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                                'format' : 'iframe',
                                'height' : 50,
                                'width' : 320,
                                'params' : {}
                            };
                            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
            <div>
            <script type="text/javascript">
                atOptions = {
                    'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
            <script type="text/javascript">
                atOptions = {
                    'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
        <div id="footer" class="flex flex-col">
        <%- include('./components/footer') %>
    </div>
    </body>
</html> 
