<!DOCTYPE html>
<html lang="en">
  <%- include('components/head.ejs') %> 
    <body class="g-sidenav-show ">
      <%- include('components/sidebar.ejs') %>
      <%- include('components/nav.ejs') %> 
      <div class="container-fluid mb-auto">
        <div class="card-wrapper flex flex-col mx-auto font-semibold">
            <div class="mx-auto rounded-lg">
                <div class="justify-center">
                    <h1 class="justify-center text-2xl text-gray-100 rounded-md hover:bg-gray-200 hover:text-blue-600 flex items-center">
                      <img src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/earn.png" class="sidebarico24 mr-2">
                      <span class="text-center">Earn</span>
                    </h1>
                  </div>
                <div class="justify-center text-center text-gray-100" style="text-align: center;">
                    <p>Select a way to earn coins.</p> <!-- https://adfoc.us/images/logo.png -->
                    <a href="offerwall" class="text-gray-200"><button type="button" class="btn bg-gray-700" style="margin-bottom: 10px; margin-right: 10px;"><img src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/survey.png" class="object-center" width="64"><br><br>Survey</button></a>
                    <a href="reedem" class="text-gray-200"><button type="button" class="btn bg-gray-700 " style="margin-bottom: 10px; margin-right: 10px;"><img src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/redeem.png" width="64"><br><br>Redeem</button></a>
                    <a href="/mine" class="text-gray-200"><button type="button" class="btn bg-gray-700 " style="margin-bottom: 10px; margin-right: 10px;"><img src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/mine.png" width="64"><br><br>Mine</button></a>
                </div>
            </div>
            <div class="col-lg-5 my-4 mx-auto">
              <div>
                <div class="mx-auto">
                <script type="text/javascript">
                  atOptions = {
                    'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                  };
                  document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
                </script>
                </div>
                <div class="my-3 mx-auto">
                  <script type="text/javascript">
                    atOptions = {
                      'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                      'format' : 'iframe',
                      'height' : 50,
                      'width' : 320,
                      'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
                  </script>
                </div>
                <div class="my-3 mx-auto">
                  <script type="text/javascript">
                    atOptions = {
                      'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                      'format' : 'iframe',
                      'height' : 50,
                      'width' : 320,
                      'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
                  </script>
                </div>
                <div class="my-3 mx-auto">
                  <script type="text/javascript">
                    atOptions = {
                      'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                      'format' : 'iframe',
                      'height' : 50,
                      'width' : 320,
                      'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
                  </script>
                </div>
            </div>
        </div>
        
        <div id="footer" class="flex flex-col">
            <%- include('./components/footer') %>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/js/argon-dashboard.min.js"></script>
    </body>
</html>
