<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="assets/server.png">
<style>
html, body {
    background: linear-gradient(90deg, rgba(27,27,47,1) 35%, rgba(60,59,63,1) 100%) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#footer {
    position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
</style>
    <title>Unknown VPS &bullet; Earn Coins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets//bootstrap.min.css" rel="stylesheet">
    <script src="assets/bootstrap.bundle.min.js"></script>
    <link href="assets/tailwind.min.css" rel="stylesheet">
<script defer src="assets/cdn.min.js"></script>
</head>
    <body>
        <%- include('components/nav.ejs') %>
        <div class="card-wrapper flex flex-col mx-auto font-semibold">
            <div class="mx-auto rounded-lg">
                <div class="justify-center">
                    <h1 class="justify-center text-2xl text-gray-100 rounded-md hover:bg-gray-200 hover:text-blue-600 flex items-center">
                      <img src="assets/earn.png" class="sidebarico24 mr-2">
                      <span class="text-center">Earn</span>
                    </h1>
                  </div>
                <div class="justify-center text-center text-gray-100" style="text-align: center;">
                    <p>Select a way to earn coins.</p> <!-- https://adfoc.us/images/logo.png -->
                    <a href="offerwall"><button type="button" class="btn btn-primary" style="margin-bottom: 10px; margin-right: 10px;"><img src="assets/survey.png" class="object-center" width="64"><br><br>Survey</button></a>
                    <a href="reedem"><button type="button" class="btn btn-primary" style="margin-bottom: 10px; margin-right: 10px;"><img src="assets/redeem.png" width="64"><br><br>Redeem</button></a>
                </div>
            </div>
        </div>
        <div id="footer" class="flex flex-col">
            <%- include('./components/footer') %>
        </div>
    </body>