 <!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/server.png">
    <title> UnknownVPS &bullet; 500 </title>
    <!--     Fonts and icons     -->
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/opensans.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/tailwind.min.css">
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/js/bootstrap.bundle.min.js"></script>
    <link id="pagestyle" href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/argon-dashboard.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/basic.css" rel="stylesheet">
  </head>


    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">An Error Occured while Logging In...</p>
                <p class="lead">
                    Server returned error code 500. Please do not CPS Test on the Authorize Button. If this is not the issue then try again later or contact support
                  </p>
                <a href="/login" class="btn btn-primary">Try Again</a>
            </div>
        </div>
    </body>


</html>
