<html>
<head>
        <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/79e43af1-79ff-49eb-b17d-ba68b3bd168c/Server-ico.png?v=1672148745394">
        <title>UnknownVPS &bullet; Logging In</title>
        <meta http-equiv = "refresh" content = "3; url = http://localhost:3000/dashboard" />
        </head>
        <body style="font-family: 'Whitney-Semibold', sans-serif;">
        <center>
          <br><br><br>
          <h1 style="color: white">Logging you in....</h1>
          <p style="color: azure">Please relogin if you do not get redirected...</p>
        </center>
    <style>
    html, body {
      height: 100%;
      background: linear-gradient(to bottom right, #0d324d 0%, #7f5a83 100%);
  }
    </style>
        </body>
        </html> 
