<!DOCTYPE html>
<html lang="en">
<%- include('components/head.ejs') %>

<body class="g-sidenav-show ">
    <%- include('components/sidebar.ejs') %>
    <%- include('components/nav.ejs') %>
    <div class="container-fluid mb-auto row">
        <div class="col-lg-5 mx-auto my-3">
            <div class="card" style="background-color: #303030">
                <div class="card-header pb-0 p-3" style="background-color: #303030">
                    <h6 class="mb-0 text-blue-400">Buy RAM</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg" style="background-color: #303030">
                            <div class="d-flex align-items-center">
                                <div class=" me-3 bg-transparent shadow text-center sidebarico64">
                                    <img src="/assets/png/ram.png">
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-sm text-blue-300">Buy 1GB RAM</h6>
                                    <span class="text-xs text-gray-300">@ <span class="font-weight-bold">1000 Coins</span>
                                    </span>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <a class="btn btn-primary" href="/404">Buy</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto my-3">
            <div class="card" style="background-color: #303030">
                <div class="card-header pb-0 p-3" style="background-color: #303030">
                    <h6 class="mb-0 text-blue-400">Buy CPU</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg" style="background-color: #303030">
                            <div class="d-flex align-items-center">
                                <div class=" me-3 bg-transparent shadow text-center sidebarico64">
                                    <img src="/assets/png/cpu.png">
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-sm text-blue-300">Buy 1 CPU Core</h6>
                                    <span class="text-xs text-gray-300">@ <span class="font-weight-bold">1000 Coins</span>
                                    </span>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <a class="btn btn-primary" href="/404">Buy</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto my-3">
            <div class="card" style="background-color: #303030">
                <div class="card-header pb-0 p-3" style="background-color: #303030">
                    <h6 class="mb-0 text-blue-400">Buy Disk</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg" style="background-color: #303030">
                            <div class="d-flex align-items-center">
                                <div class=" me-3 bg-transparent shadow text-center sidebarico64">
                                    <img src="/assets/png/disk.png">
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-sm text-blue-300">Buy 1GB Disk</h6>
                                    <span class="text-xs text-gray-300">@ <span class="font-weight-bold">500 Coins</span>
                                    </span>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <ba class="btn btn-primary" href="/404">Buy</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto my-3">
            <div class="card" style="background-color: #303030">
                <div class="card-header pb-0 p-3" style="background-color: #303030">
                    <h6 class="mb-0 text-blue-400">Buy VPS Slot</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg" style="background-color: #303030">
                            <div class="d-flex align-items-center">
                                <div class=" me-3 bg-transparent shadow text-center sidebarico64">
                                    <img src="/assets/png/server.png">
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-sm text-blue-300">Buy 1 VPS Slot</h6>
                                    <span class="text-xs text-gray-300">@ <span class="font-weight-bold">5000 Coins</span>
                                    </span>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <a class="btn disabled" href="/404">Disabled</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="mx-auto">
            <script type="text/javascript">
              atOptions = {
                'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
              };
              document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
            </script>
            </div>
            <div class="my-3 mx-auto">
              <script type="text/javascript">
                atOptions = {
                  'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                  'format' : 'iframe',
                  'height' : 50,
                  'width' : 320,
                  'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
              </script>
            </div>
            <div class="my-3 mx-auto">
              <script type="text/javascript">
                atOptions = {
                  'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                  'format' : 'iframe',
                  'height' : 50,
                  'width' : 320,
                  'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
              </script>
            </div>
            <div class="my-3 mx-auto">
              <script type="text/javascript">
                atOptions = {
                  'key' : '4ccfcae4bf2a9c42d41d0922dc4e1540',
                  'format' : 'iframe',
                  'height' : 50,
                  'width' : 320,
                  'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://floatingfolly.com/4ccfcae4bf2a9c42d41d0922dc4e1540/invoke.js"></scr' + 'ipt>');
              </script>
            </div>
        </div>
    </div>
    <div id="footer" class="flex flex-col">
        <%- include('./components/footer') %>
    </div>
    <script src="./assets/js/argon-dashboard.min.js"></script>
    </body>
</html>