<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/png/server.png">
    <title> UnknownVPS &bullet; TOS </title>
    <!--     Fonts and icons     -->
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/opensans.css" rel="stylesheet " />
    <!-- CSS Files -->
    <script src="https://cdn.tailwindcss.com/3.2.6"></script>
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/bootstrap.min.css" rel="stylesheet ">
    <script src="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/unknownpersonog/unknownvps-client@assets/css/basic.css" rel="stylesheet ">
  </head>
  <body>
  <div class="mb-auto container-fluid grid place-items-center">
    <h1 class="mx-auto text-2xl text-gray-300 text-bold">UnknownVPS Terms Of Service</h1>
    <p class="text-xl text-white"> Welcome to UnknownVPS! Please be sure to read this TOS! Agreeing to this means you have to follow this!</p>
    <span class="text-lg text-white my-2"> UnknownVPS is a free service and contains paid offers too. As a valuable user you are free to surf our website, but agreeing to this TOS means you abide our rules and henceforth are responsible for any problems faced by you.</span>
    <h1 class="text-xl text-white my-2">Who May Use the Service?</h1>
    <span class="text-lg text-white">Anyone is allowed to use our service as long as they maintain our TOS.</span>
    <h1 class="text-xl text-white my-3">What can you expect from us?</h1>
    <p class="text-lg text-white">You should not expect much from as a free provider. However we guarantee to support you out.</p>
    <h1 class="text-xl text-white my-3">What we expect from you?</h1>
    <p class="text-lg text-white">We expect you to not disturb us for support. As a free service you have to wait for support. We also expect you to abide our rules.</p>
  </div>
  </body>
</html>

