html,
body {
  background-color: #121212;
  height: 100vh;
  overflow-y: auto; /* hide the vertical scrollbar */
}


.sidebarico24 {
width: 24px;
height: 24px
}

.sidebarico64 {
  width: 64px;
  height: 64px
  }

.sidebarico20 {
width: 20px;
height: 20px
}

.sidebarico32 {
width: 32px;
height: 32px
}

.sidebarico {
width: 16px;
height: 16px
}


#sidenav-main {
  overflow-y: hidden;
  min-height: 100vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}
